# Development Tools.
.mypy_cache/
.ruff_cache/
__pycache__/
.idea/
.vscode/

# Environments.
.venv*/
venv*/
conda_env*/

# Python Bytecode.
*.py[cod]

# Distribution/Packaging.
/build/
/dist/
*.egg-info/
.pypirc

# Operating System Junk.
*.DS_Store
Thumbs.db
desktop.ini

# IndexTTS.
/cache/
/checkpoints/*
!/checkpoints/*.yaml
/checkpoints_v1.5/*
!/checkpoints_v1.5/*.yaml
/checkpoints_v2/*
!/checkpoints_v2/*.yaml
/outputs/


/hf_cache/
/DeepSpeed/
/_torch_ext/

**/阿璋.wav
**/DIDI.wav
**/GY.wav
**/JADE.wav
**/Joneshong.wav
**/Sean.wav